.homebg {
    background-image: url(../assets/img/mountain\ background\ 1.jpg);
}

.resumebg {
    background-image: url(../assets/img/resumebg.jpg);
}

.aboutbg {
    background-image: url(../assets/img/aboutbg.jpeg);
}